@import './base.css';

:root {
  --color-main-modal-color: #6800df;
}

/* Estilos del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0s linear 0.2s;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease;
}

.modal {
  background-color: #111827;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #494949;
  max-width: 1000px;
  width: 90%;
  transform: scale(0.8);
  opacity: 1;
  transition: all 0.2s ease;
}

.modal-overlay.active .modal {
  transform: scale(1);
  opacity: 1;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 20px;

  h2 {
    font-size: 32px;
    font-weight: 600;
  }

  p {
    font-size: 19px;
    color: #9ca3af;
  }

  .btn-close {
    background: none;
    border: none;
    cursor: pointer;
    color: #999;
    transition: color 0.2s;

    &:hover {
      color: white;
    }
  }
}

.search {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  color: #999;
  margin-bottom: 20px;
  transition: box-shadow 0.2s ease;

  svg {
    width: 28px;
    margin: 0 6px 0 12px;
    height: 100%;
  }

  input {
    width: 100%;
    font-size: 21px;
    padding: 13px 0px;
    border: none;
    outline: none;
    background: none;
    color: #999;
  }

  &:has(input:focus) {
    box-shadow:
      0 0 0 2px #111827,
      0 0 0 4px var(--color-main-modal-color);
  }
}

.modal-body {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-height: 550px;
  overflow-y: auto;

  .card {
    padding: 15px;
    border: 1px solid #494949;
    border-radius: 8px;
    transition: all 0.3s ease;
    user-select: none;
    cursor: pointer;

    &:hover {
      border: 1px solid var(--color-main-modal-color);
      background-color: #6800df08;
    }

    h4 {
      font-size: 22px;
      font-weight: 600;
    }

    p {
      font-size: 18px;
      color: #9ca3af;
      margin-bottom: 10px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.modal-theme {
  padding: 10px 10px 10px 0;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  .btn {
    padding: 10px 17px;
    border-radius: 7px;
    cursor: pointer;
    color: white;

    transition: background-color 0.2s;
    font-size: 16px;
    font-weight: 500;
  }
  .btn-primary {
    background-color: var(--color-main-modal-color);
    border: none;

    &:hover {
      background-color: #380092;
    }
  }

  .btn-secondary {
    background-color: #111827;
    border: 1px solid #999;
    margin-right: 10px;

    &:hover {
      background-color: #e5e5e510;
    }
  }
}

/* modal de temas */

.card-theme.selected {
  border: 1px solid var(--color-main-modal-color);
  transition: all 0.3s ease;
}

/* modal de ajustes */

.modal-settings {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;

  .range-options {
    display: flex;
    gap: 20px;

    .card-settings {
      width: 100%;
      cursor: default;
      user-select: none;
      padding: 15px;
      border: 1px solid #494949;
      border-radius: 8px;

      p {
        font-size: 20px;
        font-weight: 600;
        color: #c7ccd3;
        padding-bottom: 2px;
      }

      input {
        width: 100%;
        cursor: pointer;
        border-radius: 20px;
      }
    }
  }

  .card-select {
    display: flex;
    justify-content: space-between;
    border: 1px solid #494949;
    border-radius: 8px;
    user-select: none;
    padding: 15px;
    align-items: center;

    p {
      font-size: 20px;
      font-weight: 600;
      color: #c7ccd3;
    }

    .switch {
      font-size: 16px;
      position: relative;
      display: inline-block;
      width: 3.5em;
      height: 2em;

      input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
          background-color: var(--color-main-modal-color);
        }

        &:checked + .slider:before {
          transform: translateX(1.5em);
        }
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(182, 182, 182);
        transition: 0.4s;
        border-radius: 10px;

        &:before {
          position: absolute;
          content: '';
          height: 1.4em;
          width: 1.4em;
          border-radius: 8px;
          left: 0.3em;
          bottom: 0.3em;
          transform: rotate(270deg);
          background-color: rgb(255, 255, 255);
          transition: 0.4s;
        }
      }
    }
  }
}
